@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  position: relative;
  width: 200px;
  height: 200px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
  box-shadow: 0 2px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.navmenu__list li {
  @apply relative;
}

.navmenu__list li:hover {
  @apply scale-105 transition-all;
}

.navmenu__list li::after {
  content: '';
  @apply bg-[#ff5500] h-[3px] w-0 absolute bottom-[-10px] rounded-full left-1/2 -translate-x-1/2 transition-all duration-500;
}

.navmenu__list li.active::after {
  @apply block w-[120%];
}

.navmenu__list li:hover::after {
  @apply block w-full;
}

.navmenu__list li:last-child::after {
  @apply hidden;
}

@media(max-width:768px) {
  .navmenu {
    position: fixed;
    width: 60%;
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: #ff5500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
    transition: all 0.3s;
  }

  .navmenu.open {
    left: 0;
  }

  .navmenu ul {
    @apply flex-col items-center
  }
}

.hero {
  background: url('../images/background.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  overflow: hidden;
}

.hero__content h1 {
  text-shadow: 0 0 8px rgba(253, 253, 253, 0.899);
}


.photo-collage .hero-image {
  transition: all 0.3s;
}

.photo-collage .hero-image:nth-child(1) {
  @apply absolute top-[25%] left-[20%];
}

.photo-collage .hero-image:nth-child(2) {
  @apply absolute top-[28%] right-[20%];
}

.photo-collage .hero-image:nth-child(3) {
  @apply absolute bottom-0 left-[25%] z-10;
}

.photo-collage .hero-image:nth-child(4) {
  @apply absolute -bottom-[5%] right-[40%];
}

.photo-collage .hero-image:nth-child(5) {
  @apply absolute bottom-16 left-1/2 -translate-x-1/2;
}

.photo-collage .hero-image:nth-child(6) {
  @apply absolute bottom-0 right-[15%];
}

.photo-collage .hero-image:hover {
  @apply scale-105 z-10;
}

.earth-canvas canvas {
transform: translateY(-70%);
scale: 0.4;
}


.about-section {
  background: linear-gradient(rgba(41, 41, 41, 0.955), rgba(23, 23, 23, 0.653)),
    url('../images/about-banner.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}

.about-section .stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.our-services {
  background: linear-gradient(rgba(41, 41, 41, 0.955), rgba(23, 23, 23, 0.653)),
    url('../images/service-bg.png') no-repeat center bottom/cover;
  background-attachment: fixed;
}

.our-portfolio {
  background: linear-gradient(rgba(41, 41, 41, 0.955), rgba(23, 23, 23, 0.653)),
    url('../images/service-bg.png') no-repeat center top/cover;
  background-attachment: fixed;
  @apply py-10;
}

.service-card img {
  @apply w-full h-[350px] rounded-3xl border my-2;
}

.service-card {
  @apply p-4 rounded-lg shadow-lg;
}

.our-services .slick-slider .slick-slide {
  @apply scale-90 opacity-50;
}

.our-services .slick-slider .slick-current {
  @apply scale-[1.1] opacity-100;
}

.our-services .slick-dots li button:before {
  @apply text-[#ff5500];
}

.our-services .slick-dots li.slick-active button:before {
  @apply text-[#ffffff];
}

/* CUSTOM TABS */
.tabs {
  max-width: 100%;
  margin: auto;
}


.tab-button {
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}

.tab-button:hover {
  color: #ff5500;
  scale: 1.1;
}

.tab-button.active {
  color: #ff5500;
  scale: 1.2;
}

.tab-contents {
  padding: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* CUSTOM TABS */

.start-new-project {
  background: linear-gradient(#87bad1b5, #87bad1cf),
    url('../images/start-project.jpg') no-repeat center center/cover;
}

.start-new-project h3 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.899);
}

.psteps {
  @apply relative;
}

.psteps:hover {
  scale: 1.05
}

.process-step {
  position: relative;
  z-index: 20;
}

.psteps::after {
  content: '';
  @apply bg-[#ffffff] sm:inline hidden h-[3px] w-full absolute top-[50px] z-10 -translate-y-1/2 transition-all duration-500;
}

.psteps:last-child::after {
  @apply hidden;
}

.process-step {
  @apply bg-[#353439] relative h-[100px] mx-auto justify-center flex aspect-square border-2 border-[#ffffff] rounded-full p-4;
}

.process-step span {
  @apply inline-flex absolute -top-3 left-1/2 -translate-x-1/2 text-sm h-5 aspect-square justify-center items-center bg-[#ffbd1a] font-bold rounded-full;
}

.process-whyus-family {
  background: url('../images/service-bg (1).png') no-repeat top center/cover;
  background-attachment: fixed;
}

.why-choose-content,
.why-choose-image {
  @apply p-10 rounded-3xl;
  background-color: rgba(41, 41, 41, 0.469);
  backdrop-filter: blur(3px);
}

.chart-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 1rem;
}

.ring-chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(white 0%,
      white 0%,
      #ff5500 0% 100%);
  position: relative;
  clip-path: circle(50% at 50% 50%);
}

.ring-chart::after {
  content: '';
  width: 70%;
  height: 70%;
  background: url('../images/service-bg (1).png') no-repeat top center/cover;
  background-attachment: fixed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percentage-labels {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.chart-title {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

footer {
  background: url('../images/BG-01\ \(1\).png') no-repeat center center/cover;
  background-attachment: fixed;
}